<!doctype html>
<html lang="en">
<head>
    <title>Vite + Vue + TS</title>
    <script src="dist/app1/vue-web-custom-element.js"></script>
</head>
<body>

    <vue-web-custom-element msg="Hello!"></vue-web-custom-element>
</body>
</html>
